body{ 
    background: #F3F4F7;
    height: 80vh;
}
.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.reg_form_full {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.reg_steps {
    padding: 50px 60px;
    background: #fff;
    box-shadow: 0px 23px 30px -13px rgb(29 13 65 / 5%);
    border-radius: 5px;
    color: #2E3D4B;
}

.reg_steps h3{
    font-size: 34px;
    line-height: 46px;
    color: #2E3D4B;
    text-align: left;
    margin-bottom: 40px;
}

.reg_steps input{
    width: 100%;
}

.setup-content.reg_step_1 {
  width: 100%;
  max-width: 510px;
}

.reg_steps .form-group {
    margin-bottom: 10px;
}

.reg_steps .form-group select{
display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.reg_steps .form-group.form_lang {
    display: flex;
}

.reg_steps .form-group + span.add {
    margin-top: -5px;
        display: block;
        margin-bottom: 20px;
        font-size: 14px;
line-height: 14px;
color: #3A9BF4;
}

.reg_steps .form-group.form_lang select + input{
    margin-left: 10px;
}

.reg_steps .next_button_reg{
    font-size: 14px;
    line-height: 16px;
    color: #3A9BF4;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    color: #fff;
    margin-top: 40px;
}

.reg_steps .agree_holder{
    display: flex;
}

.reg_steps .agree_holder input{
width: 20px;
    margin-right: 10px;
    margin-top: 5px;

}


.reg_steps .agree_holder label{
font-weight: 300;
font-size: 14px;
line-height: 16px;
color: #000000;
opacity: 0.6;
cursor: pointer;
}

.reg_steps.reg_step_2 {
    width: 100%;
    max-width: 766px;
}

.reg_steps.reg_step_2 h4{
    font-size: 18px;
    line-height: 25px;
    color: #2E3D4B;
    opacity: 0.8;
}

.reg_steps.reg_step_2 ul{
    list-style: none;
    padding-left: 20px;
    margin-bottom: 50px;
}


.reg_steps.reg_step_2 ul li{
    font-size: 11px;
    line-height: 15px;
    color: #000000;
    opacity: 0.8;  
    margin-bottom: 10px;
}

.reg_steps.reg_step_2 .image_here_holder{
    border: 1px dashed #C5C5C5;
    box-sizing: border-box;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    max-width: 290px;
    max-height: 290px; 
    display: flex;
    align-items: center;
    justify-content: center;  
}

.reg_steps.reg_step_2 .image_here_holder span{
    font-size: 14px;
    line-height: 16px;
    color: #C5C5C5;
}

.reg_steps .two_buttons_holder {
    width: 100%;
    max-width: 290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reg_steps .back_btn_reg, .reg_steps .next_btn_reg {
    width: 100%;
    max-width: 100px;
    padding: 14px 10px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.25s ease;
}

.reg_steps .back_btn_reg:hover, .reg_steps .next_btn_reg:hover{
    opacity: 0.70;
}



.reg_steps .back_btn_reg{
    border: 1px solid #3A9BF4;
    background: #fff;
}

.reg_steps .next_btn_reg {
    background: #3A9BF4;
    border: 1px solid #3A9BF4;
    color: #fff;
}

.reg_steps.reg_step_3 {
    width: 100%;
    max-width: 670px;
}

.reg_steps.reg_steps.reg_step_3 textarea{
    width: 100%;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 30px; 
    padding: 10px;   
}

.reg_steps.reg_steps.reg_step_3 .two_buttons_holder {
    max-width: initial;
}

.reg_steps.reg_steps.reg_step_3 h3 {
    text-align: center;
}

.reg_steps.reg_steps.reg_step_3 .avatar_holder {
 width: 100%;
    max-width: 170px;
    margin: 0 auto 70px; 
}

.reg_steps.reg_steps.reg_step_3 .avatar_holder img{
 width: 100%;
    max-width: 170px;
    border-radius: 50%;
    display: block;  
}





.reg_steps.reg_step_4 {
    width: 100%;
    max-width: 810px;
}


.reg_steps.reg_step_4 h4{
    font-size: 18px;
    line-height: 25px;
    color: #2E3D4B;
    opacity: 0.8;
}

.reg_steps.reg_step_4 ul{
    list-style: none;
    padding-left: 20px;
    margin-bottom: 50px;
}


.reg_steps.reg_step_4 ul li{
    font-size: 11px;
    line-height: 15px;
    color: #000000;
    opacity: 0.8;  
    margin-bottom: 10px;
}

.reg_steps.reg_step_4 .video_here_holder {
    border: 1px dashed #C5C5C5;
    box-sizing: border-box;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    max-width: 290px;
    max-height: 114px; 
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-bottom: 25px;
}

.reg_steps.reg_step_4 .video_about_holder {
    font-size: 18px;
    line-height: 25px;
    color: #2E3D4B;
    margin-bottom: 30px;
}

.reg_steps.reg_step_4 .video_here_holder span {
    font-size: 14px;
    line-height: 16px;
    color: #C5C5C5;
}

.reg_steps.reg_step_4 .video_youtube_holder {
    font-size: 14px;
    line-height: 140.7%;
    color: #2E3D4B;
}

.reg_steps.reg_step_4 .video_youtube_holder input{
    max-width: 290px;
    margin-top: 10px;
}
.reg_steps.reg_step_5 {
    width: 100%;
    max-width: 727px;
    padding: 30px;
}


.reg_steps.reg_step_5 .two_buttons_holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: inherit;
}